<section class="container">
  <div class="row">
    <aside class="col">
      <%= image_tag("dxw-logo-512x512.png") %>
    </aside>
    <article class="col">
      <h1>dxw Ops-Engineer worksim App</h1>
      <p>This is the app we have been asked to deploy</p>
      <p>We can use the `Dockerfile` to build an image, and push it to a container registry</p>
      <p>The `docker-compose.yml` file shows that this app also requires a Postgres database</p>
      <h3>GitHub repository links</h2>
      <ul>
        <li>
          <%= link_to "Rails app repo (this app)", "https://github.com/dxw/ops-worksim-rails-app" %> - https://github.com/dxw/ops-worksim-rails-app
        </li>
        <li>
          <%= link_to "Terraform repo", "https://github.com/dxw/ops-worksim-terraform" %> - https://github.com/dxw/ops-worksim-terraform
        </li>
      </ul>
      <h3>Helpful links</h2>
      <ul>
        <li>
          <%= link_to "Launching an RDS (database) on AWS with Terraform", "https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/db_instance#basic-usage" %> - https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/db_instance#basic-usage
        </li>
      </ul>
    </article>
  </div>
</section>
